body { padding-top: 70px; }
.bordersty{	background: #fff; }
hr{ margin:0; }
.clsize{font-size: 25px; color: #222222;}
.defaultclss{
	padding-left:5px;
	margin-top: 2px;
	border-bottom: 1px dotted #222222;
}
.cab{
	text-align: center;
	color:#222222;
	margin-bottom: 1px;
}
.usnum{
	background: #605E5E;
	color: #fff;
	text-align: center;
	margin-bottom: 2px;
}