body {
	padding-top: 70px;
}

.bordersty {
	background: #fff;
}

hr {
	margin:0;
}

.clsize {
	font-size: 25px;
	color: #222222;
}

.defaultclss {
	padding-left:5px;
	margin-top: 2px;
	border-bottom: 1px dotted #222222;
}

.cab {
	text-align: center;
	color:#222222;
	margin-bottom: 1px;
}

.usnum {
	background: #222222;
	color: #fff;
	text-align: center;
	margin-bottom: 2px;
}

/*partner report layout view*/
table.table-small {
	margin-bottom: 0;
	text-align: center;
}

.disaccount{color: #D2322D;}

.enableaccount{color:#47A447;}

.sz{font-size:85%;}

ul li{
	list-style: none;
}


