body { padding-top: 70px; }
.bordersty{	background: #fff; }

hr{ margin:0; }
.one1{ background: #F2F2F2;}
.two1{ background: #E5E3E3;}
.usercontainer{ margin-top: 10px;}
.defaultclss{
	height:25px;
	line-height: 25px;
	padding-left:5px;
	margin-top: 1px;
	border-bottom: 1px dotted black;
}
.cab{background: #222222; 
	color:#fff;
	margin-bottom: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}